.header {
	width: 100%;
	color: var(--secondary-control);
	background-color: var(--primary-cta);
	padding: 10px 0;

	@media screen and (--phone), screen and (--tablet) {
		& {
			color: white;
		}
	}
}
