.header {
	width: 100%;
	color: var(--primary-label);
	background-color: var(--primary-default);
	padding: 10px 0;

	@media screen and (--phone), screen and (--tablet) {
		& {
			color: white;
		}
	}
}
