.button {
	background: var(--primary-default);
	padding: 4px 10px;
	border-radius: 5px;
	border: none;
	color: var(--primary-label);
}

.button-reverse {
	composes: button;
	background: var(--primary-label);
	color: var(--primary-default);
}
